# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno (¡Seguridad vital para tu API Key!)
.env

# Caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Archivos del sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/